version: '2'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    expose:
      - "4200"
    depends_on:
      - database
    volumes:
      - redissocket:/tmp
  display:
    build:
      context: display
      dockerfile: Dockerfile
    depends_on:
      - frontend
    environment:
      - WPE_BCMRPI_CURSOR=1
      - WPE_URL=http://frontend:4200
    devices:
      - "/dev/vchiq:/dev/vchiq"
      - "/dev/bus/usb/001/004"
      - "/dev/bus/usb/001/001"
    links:
      - frontend
  database:
    build:
      context: database
      dockerfile: Dockerfile
    volumes:
      - redissocket:/tmp
  obdsync:
    build:
      context: obdsync
      dockerfile: Dockerfile

volumes:
  redissocket:
