version: '2'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    expose:
      - "4200"
  display:
    build:
      context: display
      dockerfile: Dockerfile
    depends_on:
      - frontend
    environment:
      - WPE_BCMRPI_CURSOR=1
      - WPE_URL=http://frontend:4200
    devices:
      - "/dev/vchiq:/dev/vchiq"
    links:
      - frontend
  database:
    image: arm32v7/redis:4
