version: '2'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    expose:
      - "4200"
    networks:
      vpcbr:
        ipv4_address: 10.5.0.5
  display:
    image: jschulberger/resin-wpe
    depends_on:
      - frontend
    environment:
      - WPE_BCMRPI_CURSOR=1
      - WPE_URL=http://10.5.0.5:4200
    devices:
      - "/dev/vchiq:/dev/vchiq"
    networks:
      vpcbr:
        ipv4_address: 10.5.0.6

networks:
  vpcbr:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
