version: '2'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    expose:
      - "4200"
    devices:
      - "/dev/vchiq:/dev/vchiq"
  display:
    image: jschulberger/resin-wpe
    depends_on:
      - frontend
    links:
      - "frontend:fe"
    environment:
      - WPE_BCMRPI_CURSOR=1
