version: '2'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "4200"
  display:
    image: jschulberger/resin-wpe
    depends_on:
      - frontend
    environment:
      - WPE_BCMRPI_CURSOR=1
      - WPE_URL="https://mrdoob.neocities.org/024/"
    devices:
      - "/dev/vchiq:/dev/vchiq"
